<div class="container">

  <%# TODO:
  1. If user is not signed in - display "Welcome".
  2. If user is signed in then  display all users %>

  <%= erb (current_user ? :_view_users : :_sign_up) %>
</div>
